
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
        
  <p>HEY I hope you liked the site. You can contact 
me at bsef11a024@pucit.edu.pk</p>
  

<div class="content">
<div class="left-panel">
<div class="left-panel-in">

</div>
</div>
<div class="right-panel">
<div class="right-panel-in">

<h3>Categories</h3>
<ul>
  <li><a href="/Category/Category?type=best">Best<br></a></li>
  <li><a href="/Category/Category?type=sad">Sad<br></a></li>
  <li><a href="/Category/Category?type=education">Education<br></a></li>
  <li><a href="/Category/Category?type=love">Love<br></a></li>
  <li><a href="/Category/Category?type=friendship">Friendship<br></a></li>
  <li><a href="/SearchByCatogary/SearchByCatogary">Search<br></a></li>
</ul>

<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
</div>
</div>
</div>
